* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 27px;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.alertWrapper{
    background:linear-gradient(90deg,#8684ec 0,#ff6068 50%,#ffb68d 100%) ;
   background: linear-gradient(90deg, #B3B3FF, #8A8AFF);
   
   background: linear-gradient(90deg, #dbc1f1, #b76cf8);
   background: linear-gradient(90deg, #E0E0FF, #B3B3FF);
   background: linear-gradient(90deg, #E0E0FF, #a64ff1);
   /* background: linear-gradient(90deg, #9f7ae2, #6d28d9);
   background: linear-gradient(90deg, #9f7ae2, #7e22ce, #6d28d9); */
  /* background: linear-gradient(90deg, #8684ec 0, #ff60f5 50%, #ffb68d 100%);; */
  height: 50px;
}
.about{
  min-height: 85vh;
  
}
.anotherContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #6563FF; */
  background: linear-gradient(90deg, #8684ec 0, #ff60f5 50%, #ffb68d 100%);
 background: linear-gradient(90deg, #B3B3FF, #8A8AFF);
 background: linear-gradient(90deg, #dbc1f1, #b76cf8);
 background: linear-gradient(90deg, #E0E0FF, #B3B3FF);
 background: linear-gradient(90deg, #E0E0FF, #a64ff1);
 /* background: linear-gradient(90deg, #9f7ae2, #6d28d9);
 background: linear-gradient(90deg, #9f7ae2, #7e22ce, #6d28d9); */
  /* background: linear-gradient(to right, #5e70ff, #6967fa); */
}
.previewTitle {
  text-align: center;
  background: linear-gradient(90deg, #8684ec 0, #ff60f5 50%, #ffb68d 100%);
 background: linear-gradient(90deg, #B3B3FF, #8A8AFF);
 background: linear-gradient(90deg, #E0E0FF, #B3B3FF);
 background: linear-gradient(90deg, #dbc1f1, #b76cf8);
 background: linear-gradient(90deg, #E0E0FF, #a64ff1);
 /* background: linear-gradient(90deg, #9f7ae2, #6d28d9);
 background: linear-gradient(90deg, #9f7ae2, #7e22ce, #6d28d9); */
  margin-bottom: 0px;
}
.previewContainer {
  min-height: 15vh;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* background-color: #6563FF; */
  background: linear-gradient(90deg, #8684ec 0, #ff60f5 50%, #ffb68d 100%);
 background: linear-gradient(90deg, #B3B3FF, #8A8AFF);
 background: linear-gradient(90deg, #E0E0FF, #B3B3FF);
 /* background: linear-gradient(90deg, #dbc1f1, #9e3cf3); */
 background: linear-gradient(90deg, #E0E0FF, #B3B3FF);
 background: linear-gradient(90deg, #E0E0FF, #a64ff1);
 
}
.previewContainer img{
  width: 30%;
  margin-left: 20px;
}
.reg-container {
  position: relative;
  width: 50%;
  display: flex;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.login-container {
  position: relative;
  width: 25%;
  display: flex;

  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.reg-container .form {
  padding: 30px;
}
.login-container .form {
  padding: 40px;
}

.title {
  position: relative;
}
.title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 4px;
  width: 50px;
  /* background-color: #6563FF; */
  background: linear-gradient(90deg, #8684ec 0, #ff60f5 50%, #ffb68d 100%);


  /* background: linear-gradient(to right, #5e70ff, #6967fa); */
  border-radius: 25px;
}
.input-field {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 50px;
  position: relative;

  /* background-color: red;
    width: 100%; */
}
.input-field input {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  font-size: 16px;
  outline: none;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  border-radius: 0px;
  transition: all 0.2s ease-in;
  border-bottom-color: #7e22ce;
}
input[type="file"] {
  display: none;
  border-bottom-color: #7e22ce;
}
.custom-file-input {
  background-color: white;
  border-bottom: 2px solid #7e22ce;
  color: black;
  min-height: 100%;
  border-radius: 0px;
  width: 100%;
  padding-top: 15px;
}

.custom-file-input span {
  padding-left: 10px;
  font-size: 16px;
}
.custom-file-input p {
  padding-left: 10px;
  font-size: 16px;
}
.custom-file-input .icon {
  color: #7e22ce;
  top: 0px;
}
.displayOffer {
  width: 60%;
}
.icon {
  position: relative;
  top: -37px;
  color: #999;
  transition: all 0.2s ease;
  color: #7e22ce;
}
.eye {
  position: relative;
  top: -37px;
  left: 88%;
  color: #999;
  transition: all 0.2s ease;
}
.input-field input:is(:focus) {
  border-bottom-color: #5f14a0;
}
.input-field input:is(:focus) ~ .icon {
  color: #320558;
}
.input-field input:is(:focus) ~ .eye {
  color: #320558;
}
.input-field select:is(:focus) ~ .icon {
  color: #320558;
}
.input-field select:is(:focus) {
  border-bottom-color: #320558;
}
.input-field select {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  font-size: 16px;
  outline: none;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  border-radius: 0px;
  transition: all 0.2s ease-in;
  border-bottom-color: #7e22ce;
}
/* select::before{
  content:'Registration Duration'
} */
.forgotPassword {
  display: flex;
  justify-content: end;
}
a {
  text-decoration: none;
  color: #7e22ce;
}
a:hover {
  text-decoration: underline;
}
.button input {
  border: none;
  /* background-color: #6563FF; */
  /* background:linear-gradient(90deg,#8684ec 0,#ff60f5 50%,#ffb68d 100%) ; */

  letter-spacing: 1px;
  font-size: 17px;
  font-weight: 450;
  background-color: #7e22ce;
  color: white;
  border-radius: 6px;
  transition: all 0.2s ease;
}
.button input:hover {
  /* background-color: #265df2; */
  /* background:linear-gradient(90deg,#8684ec 0,#ff60f5 50%,#ffb68d 100%) ; */
  background-color: #5f14a0;
}

.custom-marker img {
  width: 60px; /* Adjust width as needed */
  height: 60px; /* Adjust height as needed */
}

.login-signup {
  text-align: center;
}
.restaurant-display-icon {
  color: #7e22ce;
}
.card {
  border: none;
  padding: 5px;
  margin: auto;
  width: 85%;
  min-height: 7vh;
}
.card img {
  border-radius: 25px;
}
.card:hover{
  cursor: pointer;
  box-shadow: 0 0 20px #dddcdc;
  border: 2px solid #ffffff;
  border-radius: 15px;
}
.coupon{
  background-color: #7e22ce;
  color: white;
}
.coupon:hover{
  background-color: #5f14a0;
  color: white;
}
@media screen and (max-width: 900px) {
  .reg-container {
    width: 80%;
  }
  .eye {
    left: 83%;
  }
  .login-container {
    width: 50%;
  }
  .card {
    margin-bottom: 10px;
    width: 95%;
    cursor: pointer;
    box-shadow: 0 0 20px  #dddcdc;
    border: 2px solid #ffffff;
    border-radius: 15px;
  }
  .card img{
    border-radius: 5px;
  }
  .previewContainer img{
    width: 60%;
    margin:auto;
    margin-bottom: 20px;
  }
 
}
@media screen and (max-width: 768px) {
  .reg-container {
    width: 90%;
  }
  .displayOffer {
    width: 90%;
  }
  .eye {
    left: 83%;
  }
  .login-container {
    width: 85%;
  }
  .social{
    margin: auto;
  }
}
@media screen and (max-width: 400px) {
  .reg-container {
    width: 95%;
  }
  .eye {
    left: 83%;
  }
  .login-container {
    width: 90%;
  }
}
