.searchBarContainer {
  display: flex;
  background-color: #fff;
  height: 50px;
  width: 70%;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #dfe1e5;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  
}
.searchBarContainer:hover{
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
}
.searchBarContainer input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
}
.searchIcon {
  color: blue;
}
.open-sans-light {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: large;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
.radiusSelector{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
   
    width: 70%;
}
.radiusSelector select{
    outline: none;
    border: none;
    background: transparent;
    padding-left: 10px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}
@media screen and (max-width: 900px) {
  .searchBarContainer {
    width: 90%;
  }
}
